

    <div class="form-group col-md-3" id="provincia-select">
        <label for="prov">Provincia</label>
        <select class="form-control" onchange="getCanton()" id="prov" name="prov">
            <option value="0">Sin filtro</option>
            <%prov.forEach(function(row, index) {%>
                <option value="<%= row.ID%>"><%= row.Nombre%></option>
            <%});%>
        </select>
    </div>
    <div class="form-group col-md-3" id="canton-select">
        <label for="cant">Cantón</label>
        <select class="form-control" onchange="getDistrito()" id="cant" name="cant">
                <option value="0">Sin filtro</option>
        </select>
    </div>
    <div class="form-group col-md-3" id="distrito-select">
        <label for="dist">Distrito</label>
        <select class="form-control" onchange="getAsada()" id="dist" name="dist">
            <option value="0">Sin filtro</option>
        </select>
    </div>

    
<script src="/scripts/getProvCantDist.js"></script>