<div style="margin: 20px;">
    <h1 id="welcome" align="center" style="color: #002855;">Bienvenido a IRSSAS</h1>
    <p align="justify">
        Bienvenid@s a la herramienta informática “Índice de Riesgo para la Sostenibilidad del Servicio de Agua y Saneamiento (IRSSAS)”.  Esta herramienta es el resultado de un proyecto de investigación y extensión desarrollado y administrado por el Instituto Tecnológico de Costa Rica (TEC) en conjunto con las Asociaciones Administradoras de Sistemas de Acueductos y Alcantarillados Comunales (ASADAs).
        <br>
        En las zonas rurales de Costa Rica, la distribución del agua es brindada por Asociaciones Administradoras de Sistemas de Acueductos y Alcantarillados Comunales (ASADAs),  [1] [2].  Las ASADAs atienden un 29 % de la población del país, siendo que el 73,2 % brindan el agua en comunidades de menos de 300 abonados [3]. En el cuadro 1 se muestra la distribución de ASADAs en el país y la cantidad de abonados atendidos.</p>
        <br>
        <p align="justify">Cuadro 1. Distribución de las ASADAs según provincia y cantidad de abonados y población atendida en Costa Rica.</p>
        
        <div class="text-center">
            <img src="/images/distribucion-asadas.png" class="img-fluid center">
        </div>
        <p align="justify">
            * El cálculo se realiza considerando un promedio de 4,5 habitantes por abonado.     
            <br>
            Fuente: Elaboración propia con datos provenientes del sitio Web de Acueductos y Alcantarillados [4]
        </p>
        <br>
        <p align="justify">
            Las ASADAs se enfrentan a diversas dificultades administrativas, financieras y técnicas Mora, Mata y Portuguez, <u><a target="_blank" rel="noopener noreferrer" href="https://www.aya.go.cr/centroDocumetacion/catalogoGeneral/Acceso%20%20a%20agua%20para%20consumo%20humano%20y%20saneamiento%20evoluci%C3%B3n%20en%20el%20per%C3%ADodo%201990%20-%202010%20en%20Costa%20Rica.pdf">ACCESO A AGUA PARA CONSUMO HUMANO Y SANEAMIENTO EVOLUCIÓN EN ELPERIODO 1990-2010 EN COSTA RICA</a></u>.  La mayoría de las ASADAs, no cuentan con la información necesaria para la oportuna toma de decisiones.
        </p>
        <p align="justify">
            La herramienta IRSSAS, ha sido desarrollada considerando aspectos de sostenibilidad financiera, ambiental y operacional, permitiendo determinar en forma fácil, intuitiva y rápida, el nivel de riesgo en la prestación del servicio de agua y de saneamiento. Utiliza información que ha sido generada en diferentes institucionales gubernamentales además de los datos operativos que se generan en cada ASADA.
        </p>
        <p align="justify">
            Mediante el uso de algoritmos basados en criterios técnicos, logra identificar el riesgo en la prestación del servicio de agua y saneamiento, el cual puede utilizarse por los operadores para garantizar la sostenibilidad de los servicios.
        </p>
        <p align="justify">
            El valor numérico del IRSSAS ha sido validado con información base de 100 ASADAs ubicadas en diversas regiones del país.  Para calcularlo se diseñó un formulario de 30 preguntas estratégicas.
        </p>
        <p align="justify">
            El formulario IRSSAS se llena en línea y el resultado del indicador se despliega automáticamente.
        </p>
        <p align="justify">
            El índice IRSSAS se fundamenta en los siguientes conceptos de sostenibilidad.
            <ul class="lista">
                <li>
                    Disminuir la contaminación del recurso hídrico, mediante el uso sostenible del agua y la gestión adecuada de los residuos sólidos.
                </li>
                <li>
                    Proteger el recurso hídrico.
                </li>
                <li>
                    Administrar adecuadamente los ambientes naturales.
                </li>
                <li>
                    Garantizar la calidad del agua en todos los componentes del acueducto.
                </li>
                <li>
                    Identificar la capacidad de la ASADA para invertir en del suministro de agua potable (captaciones, conducciones, tratamientos, almacenamiento, desinfección y distribución).
                </li>
                <li>
                    Invertir en la concientización de la población a fin de dar un uso sostenible al agua.
                </li>
                <li>
                    Contar con poblaciones cuyas condiciones socioeconómicas sean adecuadas para responder a un desarrollo sostenible.
                </li>
                <li>
                    Tomar acciones de prevención ante los riesgos y amenazas naturales asociados a la vulnerabilidad ambiental del territorio donde se ubica la ASADA.
                </li>
            </ul>
        </p>
    </p>
    <p align="justify">
        Algunos de estos componentes se dividen en subcomponentes como Gestión del
        Recurso Hídrico, Gestión administrativa o financiera y Gestión de Residuos
        Sólidos, por otra parte, éstos se subdividen en más de 30 indicadores de riesgo.<br>
        Ver tabla 1.
    </p>
    <div class="text-center">
        <img id="percentages" src="/images/tabla-irssas.png" class="img-fluid center">
    </div>
    <img src="/images/asada.png" style="display: block; margin-left: auto; margin-right: auto;">
    <div class="desc text-center mt-30">
        <h4 id="asadas" class="">Asociaciones Administradores de los Sistemas de Acueductos y Alcantarillados comunales - ASADAs</h4>
        <p class="" align="justify">Las ASADAS son asociaciones privadas constituidas al amparo de la Ley de Asociaciones N.° 218,
            pero deben tener como único fin en sus estatutos, la administración y operación del sistema de
            distribución de agua potable. Así pues, estas asociaciones prestan los servicios de agua en las
            áreas rurales y periurbanas y están reguladas por el Decreto Ejecutivo 32529-S-MINAE del 2005.
            Inicialmente fueron constituidas como comités de acueductos y alcantarillados del área rural –
            CAAR-, y posteriormente transformadas en ASADAS (DE-N.° 29100-S del 1 de diciembre del 2000).
            Su principal responsabilidad es la construcción, administración, operación y mantenimiento de
            los acueductos rurales (ejerciendo tal función por delegación del AyA, como ente legalmente
            responsable de esos servicios, encontrándose subordinadas a las potestades de AyA), así como
            la conservación y aprovechamiento racional de las fuentes de agua. Fuente AyA 2016 Política
            Nacional de Agua Potable de Costa Rica 2017 – 2030.<br>
            Las ASADAs son responsables de la prestación del servicio de agua potable a una población del
            orden de un millón cuatrocientos mil habitantes lo que representa un 29% de la población de
            Costa Rica. Fuente: AyA 2015-2016</p>
    </div>
    <img src="/images/informacion.png" style="display: block; margin-left: auto; margin-right: auto;">
    <div class="desc text-center mt-30">
        <h4 class="">Información</h4>
        <p class="" align="justify">
            Los administradores de las ASADAs completan un formulario con la información
            de los indicadores en los componentes y subcomponentes anualmente, así la
            herramienta informática calcula el IRSSAS de la ASADA respectiva, brindando el
            resultado de cada componente y subcomponente viéndose esta información
            reflejada en el mapa de Costa Rica, también se pondrán consultar el IRSSAS
            promedio por distrito.</p>
    </div>
    <img src="/images/sitio-web.png" style="display: block; margin-left: auto; margin-right: auto;">
    <div class="desc text-center mt-30">
        <h4 class="">Sitio web</h4>
        <p class="" align="justify">
            Es un sistema informático diseñado con el fin, de disponer de información en
            tiempo real del IRSSAS de cada ASADA y el promedio de cada distrito, los datos
            procesados que ha sido alimentados a partir del formulario diseñado, muestran el
            riesgo asociado a la ASADA en un mapa, la ubicación georreferenciada de la
            oficina de la misma y población atendida.</p>
    </div>
</div>
