<div style="margin: 20px;">
    <h1 align="center" style="color: #002855;">Bienvenido a IRSSAS</h1>
    <p align="justify">
        Bienvenid@s a la herramienta informática Índice de Riesgo para Sostenible del
        Servicio de Agua y Saneamiento (IRSSAS). En Costa Rica las entidades
        encargadas de la administración y operación de los acueductos rurales son las
        Asociaciones Administradoras de Sistemas de Acueductos y Alcantarillados
        Comunales (ASADAs).
        En Costa Rica existen alrededor de 1500 ASADAs, muchas de ellas no cuentan
        con la información necesaria para una oportuna toma de decisiones. Por lo tanto,
        es necesario evaluar el riesgo con el objetivo de planificar el desarrollo y
        garantizando la sostenibilidad del servicio de agua potable y saneamiento.<br>
        De acuerdo con el concepto de sostenibilidad se requiere controlar en el
        crecimiento de las poblaciones humanas, los siguientes factores:</p>
        <ul class="lista">
            <li>Prevenir la contaminación del recurso hídrico y el suelo con un buen
            saneamiento</li>
            <li>Proteger las fuentes de agua</li>
            <li>Invertir en infraestructura del suministro de agua potable (captación,
                conducción, tratamiento, almacenamiento, desinfección y distribución)</li>
            <li>Contar con poblaciones cuyas condiciones socioeconómicas sean adecuadas
                para responder a un desarrollo sostenible.</li>
            <li>Poblaciones concientizadas ambientalmente y saludables</li>
            <li>Tomar acciones de prevención ante los riesgos y amenazas naturales
                asociados a la vulnerabilidad ambiental del territorio</li>
        </ul>
    <p align="justify">
        El IRSSAS se construyó a partir del concepto anterior de sostenibilidad y se dividió
        en cinco componentes:
        <ul class="lista">
            <li>Recurso hídrico</li>
            <li>Saneamiento</li>
            <li>Educación</li>
            <li>Desarrollo económico y social de la región</li>
            <li>Riesgos naturales asociados al territorio</li>
        </ul>
    </p>
    <p align="justify">
        Algunos de estos componentes se dividen en subcomponentes como Gestión del
        Recurso Hídrico, Gestión administrativa o financiera y Gestión de Residuos
        Sólidos, por otra parte, éstos se subdividen en más de 30 indicadores de riesgo.<br>
        Ver tabla 1.
    </p>
    <img src="/images/tabla-irssas.png" style="display: block; width: 50%; margin-left: auto; margin-right: auto;">
    <img src="/images/asada.png" style="display: block; margin-left: auto; margin-right: auto;">
    <div class="desc text-center mt-30">
        <h4 class="text-white">Asociaciones Administradores de los Sistemas de Acueductos y Alcantarillados comunales - ASADAs</h4>
        <p class="text-white" align="justify">Las ASADAS son asociaciones privadas constituidas al amparo de la Ley de Asociaciones N.° 218,
            pero deben tener como único fin en sus estatutos, la administración y operación del sistema de
            distribución de agua potable. Así pues, estas asociaciones prestan los servicios de agua en las
            áreas rurales y periurbanas y están reguladas por el Decreto Ejecutivo 32529-S-MINAE del 2005.
            Inicialmente fueron constituidas como comités de acueductos y alcantarillados del área rural –
            CAAR-, y posteriormente transformadas en ASADAS (DE-N.° 29100-S del 1 de diciembre del 2000).
            Su principal responsabilidad es la construcción, administración, operación y mantenimiento de
            los acueductos rurales (ejerciendo tal función por delegación del AyA, como ente legalmente
            responsable de esos servicios, encontrándose subordinadas a las potestades de AyA), así como
            la conservación y aprovechamiento racional de las fuentes de agua. Fuente AyA 2016 Política
            Nacional de Agua Potable de Costa Rica 2017 – 2030.<br>
            Las ASADAs son responsables de la prestación del servicio de agua potable a una población del
            orden de un millón cuatrocientos mil habitantes lo que representa un 29% de la población de
            Costa Rica. Fuente: AyA 2015-2016</p>
    </div>
    <img src="/images/informacion.png" style="display: block; margin-left: auto; margin-right: auto;">
    <div class="desc text-center mt-30">
        <h4 class="text-white">Información</h4>
        <p class="text-white" align="justify">
            Los administradores de las ASADAs completan un formulario con la información
            de los indicadores en los componentes y subcomponentes anualmente, así la
            herramienta informática calcula el IRSSAS de la ASADA respectiva, brindando el
            resultado de cada componente y subcomponente viéndose esta información
            reflejada en el mapa de Costa Rica, también se pondrán consultar el IRSSAS
            promedio por distrito.</p>
    </div>
    <img src="/images/sitio-web.png" style="display: block; margin-left: auto; margin-right: auto;">
    <div class="desc text-center mt-30">
        <h4 class="text-white">Sitio web</h4>
        <p class="text-white" align="justify">
            Es un sistema informático diseñado con el fin, de disponer de información en
            tiempo real del IRSSAS de cada ASADA y el promedio de cada distrito, los datos
            procesados que ha sido alimentados a partir del formulario diseñado, muestran el
            riesgo asociado a la ASADA en un mapa, la ubicación georreferenciada de la
            oficina de la misma y población atendida.</p>
    </div>
</div>