
<div class="border-right d-flex flex-column h-100" id="sidebar-wrapper"
style="background: linear-gradient(185.31deg, #00B396 -33.48%, #1D2D51 98.72%); position:sticky;  top:0">
                <div class="mt-3 sidebar-heading text-center">
                    <a href="/">
                        <img src="/images/Logo.png" class="img-fluid" id="irss">
                    </a>
                </div>
                <div id="menucomps" class="mt-5 list-group list-group-flush">
                   

                <ul class="list-unstyled components mainmenu">
                    <h5 style="color: #FAFAFA" >Ubicación</h5>
                    <li class="active">
                        <a style = "color: #FAFAFA;">Provincia  
                            <select class="form-control" onchange="getCanton()" id="prov" style="background-color: white !important;">
                            <option value="0" style="color: #FAFAFA;">Sin filtro</option>
                        <%rows.forEach(function(row, index) {%>
                            <option value="<%= row.ID%>"><%= row.Nombre%></option>
                        <%});%>
                    </select></a></li>
                    <li class="active">
                        <a style = "color: #FAFAFA;">Cantón
                            <select class="form-control" onchange="getDistrito()" id="cant" style="background-color: white !important;">
                            <option value="0" style = "color: #FAFAFA;" >Sin filtro</option>
                        </select></a></li>
                    <li class="active"><a style = "color: #FAFAFA;">Distrito<select class="form-control" id="dist" style="background-color: white !important;">
                            <option value="0">Sin filtro</option>
                    </select></a></li>
                    <br>

                    <li class="active"><a class="list-group-item list-group-item-action" style="color: #FAFAFA;" onclick="filtrarMap();">Filtrar</a></li>
                    <h5 style="color: #FAFAFA" >Componentes</h5>
                    <li class="active"><a href="#" class="list-group-item list-group-item-action" id="Saneamiento" onclick="changeComponent('Componente',1, this.id);">Saneamiento</a>
                    <ul class="components submenu">
                    <a href="#" class="list-group-item list-group-item-action" id="Gestión de Aguas Residuales" onclick="changeComponent('SubComponente',1, this.id);">Gestión de Aguas Residuales</a>
                    <a href="#" class="list-group-item list-group-item-action"  id="Gestión de Residuos Sólidos" onclick="changeComponent('SubComponente',2, this.id);">Gestión de Residuos Sólidos</a>
                    </ul></li>

                    <li class="active"><a href="#" class="list-group-item list-group-item-action" id="Gestión del Recurso Hídrico" onclick="changeComponent('Componente',2, this.id);" >Gestión del Recurso Hídrico</a>
                    <ul class="components submenu">
                    <a href="#" class="list-group-item list-group-item-action" id="Gestión de Protección del Recurso Hídrico" onclick="changeComponent('SubComponente',3, this.id);">Gestión de Protección del Recurso Hídrico</a>
                    <a href="#" class="list-group-item list-group-item-action" id="Calidad de Agua Potable" onclick="changeComponent('SubComponente',4, this.id);">Calidad de Agua Potable</a>
                    <a  href="#" class="list-group-item list-group-item-action" id="Gestión Administrativo/Financiero" onclick="changeComponent('SubComponente',5, this.id);">Gestión Administrativo/Financiero</a>
                    </ul></li>

                    <a href="#" class="list-group-item list-group-item-action" id="Índice de Desarrollo" onclick="changeComponent('Componente',3, this.id);" >Índice de Desarrollo</a>
                    <a href="#" class="list-group-item list-group-item-action" id="Educación" onclick="changeComponent('Componente',4, this.id);">Educación</a>
                    <a href="#" class="list-group-item list-group-item-action" id="Fenómenos Naturales"  onclick="changeComponent('Componente',5, this.id);">Fenómenos Naturales</a>
                    <a href="#" class="list-group-item list-group-item-action" id="Índice de Riesgo Sostenible en el Servicio de Agua y Saneamiento"  onclick="changeComponent('IRSSAS',0, this.id);">IRSSAS Total</a>
                    
                    

                </ul>
                </div>
                <div id="menufilts" class="mt-5 list-group list-group-flush">
                        <ul class="list-unstyled components mainmenu">
                            <h5 style="color: #FAFAFA" >Ubicación</h5>
                                <li class="active"><a style = "color: #FAFAFA;">Provincia  <select style = "border-color: #FAFAFA !important;color: white !important;"class="form-control" onchange="getCanton()" id="prov">
                                        <option value="0" style="color: #FAFAFA;">Sin filtro</option>
                                    <%rows.forEach(function(row, index) {%>
                                        <option value="<%= row.ID%>"><%= row.Nombre%></option>
                                    <%});%>
                                </select></a></li>
                                <li class="active"><a style = "color: #FAFAFA;">Cantón<select style = "border-color: #FAFAFA;color: white;" class="form-control" onchange="getDistrito()" id="cant">
                                        <option value="0" style = "color: #FAFAFA; border: white;" >Sin filtro</option>
                                    </select></a></li>
                                <li class="active"><a style = "color: #FAFAFA;">Distrito<select style = "border-color: #FAFAFA;color: white;" class="form-control" id="dist">
                                        <option value="0" style = "color: #FAFAFA;">Sin filtro</option>
                                </select></a></li>
                                <br>

                                <li class="active"><a class="list-group-item list-group-item-action" style="color: #FAFAFA;" onclick="filtrarMap();">Filtrar</a></li>
                                <hr>  
                                
                                <h4 style="color: #FAFAFA" >Componentes</h4>
                                <li class="active"><a href="#" class="list-group-item list-group-item-action" id="Saneamiento" onclick="changeComponent('Componente',1, this.id);">Saneamiento</a>
                                <ul class="components submenu">
                                <a href="#" class="list-group-item list-group-item-action" id="Gestión de Aguas Residuales" onclick="changeComponent('SubComponente',1, this.id);">Gestión de Aguas Residuales</a>
                                <a href="#" class="list-group-item list-group-item-action"  id="Gestión de Residuos Sólidos" onclick="changeComponent('SubComponente',2, this.id);">Gestión de Residuos Sólidos</a>
                                </ul></li>

                                <li class="active"><a href="#" class="list-group-item list-group-item-action" id="Gestión del Recurso Hídrico" onclick="changeComponent('Componente',2, this.id);" >Gestión del Recurso Hídrico</a>
                                <ul class="components submenu">
                                <a href="#" class="list-group-item list-group-item-action" id="Gestión de Protección del Recurso Hídrico" onclick="changeComponent('SubComponente',3, this.id);">Gestión de Protección del Recurso Hídrico</a>
                                <a href="#" class="list-group-item list-group-item-action" id="Calidad de Agua Potable" onclick="changeComponent('SubComponente',4, this.id);">Calidad de Agua Potable</a>
                                <a  href="#" class="list-group-item list-group-item-action" id="Gestión Administrativo/Financiero" onclick="changeComponent('SubComponente',5, this.id);">Gestión Administrativo/Financiero</a>
                                </ul></li>

                                <a href="#" class="list-group-item list-group-item-action" id="Índice de Desarrollo" onclick="changeComponent('Componente',3, this.id);" >Índice de Desarrollo</a>
                                <a href="#" class="list-group-item list-group-item-action" id="Educación" onclick="changeComponent('Componente',4, this.id);">Educación</a>
                                <a href="#" class="list-group-item list-group-item-action" id="Fenómenos Naturales"  onclick="changeComponent('Componente',5, this.id);">Fenómenos Naturales</a>
                                <a href="#" class="list-group-item list-group-item-action" id="Índice de Riesgo Sostenible en el Servicio de Agua y Saneamiento"  onclick="changeComponent('IRSSAS',0, this.id);">IRSSAS Total</a>
                                <li class="active"><a id="filt-5" onclick="checkear(this.id);"><i id="filts-5" class="glyphicon glyphicon-ok"></i>  Provincia</a></li>
                                <li class="active"><a id="filt-4" onclick="checkear(this.id);"><i id="filts-4" class="glyphicon glyphicon-ok"></i>  Cantón</a></li>
                                <li class="active"><a id="filt-3" onclick="checkear(this.id);"><i id="filts-3" class="glyphicon glyphicon-ok"></i>  Distrito</a></li>
                                <li class="active"><a id="filt-2" onclick="checkear(this.id);"><i id="filts-2" class="glyphicon glyphicon-ok"></i>  Riesgo</a></li>
                                <li class="active"><a id="filt-6" onclick="checkear(this.id);"><i id="filts-6" class="glyphicon glyphicon-ok"></i>  Asadas</a></li>
                                <hr>
                                <li class="active"> <a id="filts2">Componentes</a></li>
                        </ul>
                </div>

                
            </div>