<!doctype html>
<html lang="en">


  <head>
 
    <% include ../partials/header %>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/signin.css">
  </head>

<body class="text-center">
 
  <div class="row h-100 m-0">

    <div class="col d-none d-md-block"  style="background: linear-gradient(200.96deg, #00B396 14.77%, #1D2D51 103.25%)">

    </div>
    <div class="col login">
     
      <form method="GET" action="/" class="form-signin" id="form-cambiar">
        <button onclick="location.href = '/login'" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="h3 mb-3 font-weight-normal text-azul">Cambiar Contraseña</h1>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña Actual</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña Actual" required>
        <label for="inputPasswordNew" class="sr-only">Contraseña Nueva</label>
        <input type="password" id="inputPasswordNew" class="form-control" placeholder="Contraseña Nueva " required>
        <label for="inputPasswordNewConfirm" class="sr-only">Confirmar Contraseña</label>
        <input type="password" id="inputPasswordNewConfirm" class="form-control" placeholder="Confirmar Contraseña" required>
        <br>

        <button class="shadow btn btn-lg btn-block text-white" onclick="cambiar()" type="button" style="background-color: #1D2D51;">Guardar</button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script type="text/javascript">
    //Source: https://sweetalert2.github.io/
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
    })

    function cambiar()
    {
      if (!$('#inputEmail').val())
      {
        Toast.fire('Error', 'Usuario vacío', 'error');
      }
      else if (!$('#inputPasswordNew').val() || !$('#inputPasswordNewConfirm').val())
      {
        Toast.fire('Error', 'Claves vacías', 'error');
      }
      else if ($('#inputPasswordNew').val() != $('#inputPasswordNewConfirm').val())
      {
        Toast.fire('Error', 'Claves no concuerdan', 'error');
      }
      else
      {
          var usuario = $('#inputEmail').val();
          var clave = $('#inputPassword').val();
          var clavenueva = $('#inputPasswordNew').val();
          var parameters = { "usuario": usuario, "clave": clave, "clavenueva": clavenueva };
          $.get('/changePassword', parameters, function (data) {
          }).done(function (res) {
              console.log(res);
              if (res == true)
              {
                  Toast.fire('Proceso exitoso', 'La contraseña ha sido cambiada', 'success')
                  .then(()=>
                  {
                    $("#form-cambiar")[0].submit()
                  });
              }
              else
              {
                  Toast.fire('Error', res, 'error');
              }
          });
      }
    }
  </script>
  
</body>

</html>