<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
    <style>
        .tipoInforme,
        .tipoInforme:active,
        .tipoInforme:visited,
        .tipoInforme:focus
        {
            background: #7f93aa;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar" style="overflow-y: scroll">
            <div id="menucomps">
            <div class="sidebar-header">
                <h2 id="irss"><a href="/">Proyecto IRSSAS</a></h2>
            </div>
            </div>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default svg-h-100">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span></span>
                        </button>

                    </div>

                    <div style="float: right;">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <form action="/visor">
                                <button type="submit" class="btn btn-info navbar-btn">Volver al mapa</button>
                            </form>
                        </div>
                    </div>

                </div>
                <div>
                    <div class="form-group">
                        <h3>Estadisticas Generales</h3>
                        <div>
                            <button type="button" class="btn btn-info navbar-btn" id="informeProvincia" onclick="cambiarTipoInformeGeneral(1, this);">Informe por provincia</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-info navbar-btn" id="informeCanton" onclick="cambiarTipoInformeGeneral(2, this);">Informe por cantón</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-info navbar-btn" id="informeDistrito" onclick="cambiarTipoInformeGeneral(3, this);">Informe por distrito</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-info navbar-btn" id="informeAsada" onclick="cambiarTipoInformeGeneral(4, this);">Informe por ASADA</button>
                        </div>
                        <br>                        
                    </div>
                    <% include ../partials/filtroCantonDistProvAsada %>
                    <br><br><br><br>
                    <button type="submit" class="btn btn-info navbar-btn" onclick="add2Informe()">+</button>
                    <button type="submit" class="btn btn-info navbar-btn" onclick="removeFromInforme()">-</button>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody id="selectedInforme">
                        </tbody>
                    </table>
                    <br>    
                    <button type="submit" class="btn btn-info navbar-btn" onclick="requestInformeGeneral()">Generar informe</button>
                    <br>
                    <table id="informe" class="table" hidden>
                        <thead>
                            <tr class="row">
                                <th>Nombre</th>
                                <th>Población atendida</th>
                                <th>Saneamiento</th>
                                <th>Recurso hídrico</th>
                                <th>Educación ambiental</th>
                                <th>Índice de desarrollo social</th>
                                <th>Eventos naturales</th>
                                <th>IRSSAS promedio</th>
                            </tr>
                        </thead>
                        <tbody id="informeBody">
                        </tbody>
                    </table>
                </div>
            </nav>
        </div>
    </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script type="text/javascript">
        $(document).ready(function () {


            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });

            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
                $("#buttonrisk").show();
            });

            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
                $("#buttonrisk").hide();
            });

            $("#buttonrisk").hide();

            $("#filts").click(function () {
                $("#menucomps").toggle("slow", "linear");
                $("#menufilts").toggle("slow", "linear");
            });

            $("#filts2").click(function () {
                $("#menucomps").toggle("slow", "linear");
                $("#menufilts").toggle("slow", "linear");
            });

            $("#menufilts").hide();


        });
    </script>

    <script src="scripts/informeGeneral.js"></script>

    <script type="text/javascript">
        document.getElementById("informeProvincia").click();

        function errorPopUp(mensaje)
            {
                Swal.fire({
                    icon: 'error',
                    title: mensaje,
                    showConfirmButton: false,
                    timer: 1500
                })
            }
    </script>
</body>

</html>