<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>

    <body>

        <div class="d-flex" id="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->
            <div id="page-content-wrapper" style="background-color: #FAFAFA;">
                <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="title mt-3 pb-2 font-weight-bold h3">Generación de informes de Mejora</p>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <button id="downloadpdf" class="btn btn-info navbar-btn" onclick="downloadInformeMejora();">Descargar PDF</button>
                        </div>
                    </div>
                    <div class="bg-white shadow p-3 mb-5">
                        <div id="prueba" class="present" style="height: 500px; overflow-y: scroll;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery CDN -->		
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
		<!-- JS PDF -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

				$("#agregarAsada").hide();
				$("#borrarAsada").hide();
				$("#asadasInforme").hide();
                $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("a[href$='/generarInformeMejora']") .addClass("active");
                
                displayMejora();
            });
        </script>
        <script src="scripts/script.js"></script>
        <script src="scripts/getProvCantDist.js"></script>
        <script type="text/javascript">
            function displayMejora(){
                var numAsada = '<%= numAsada %>';
                generarPDFInformeMejora(numAsada);
            }
        </script>
    </body>
</html>