<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>

    <body>

        <div class="d-flex" id="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->

            <div id="page-content-wrapper" style="background-color: #FAFAFA;">
                <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="title mt-3 pb-2 font-weight-bold h3">Gráficos</p>
                        </div>
                    </div>
    
                    <div class="bg-white shadow p-3 mb-5">
                        <div>
                            <h3>Estudios/Gráficos</h3>
                            <% if(usuario.Tipo == 1){%>
                            <% include ../partials/filtroCantonDistProvAsada %>
                            <%}else{%>
                                <input id="asada" type="text" value="<%=usuario.Asada_ID%>" disabled hidden>
                            <%}%>
                            <hr>
                            <div class="row">
                                <div class="col-12 col-md-6"> 
                                    <h3 for="riesgo">IRSSAS Total</h3>
                                    <input id="riesgo" type= hidden class="form-control" readonly>
                                    <div class="col-12 col-md-12" style="padding-top: 40px"> 
                                    	<canvas id="doughnut-chart" height= 250></canvas>
                               		</div>
                                </div>
                                <div class="col-12 col-md-6"> 

                                	<div class="row">
                                		<h3 for="tipoRiesgo">Nivel de riesgo</h3>
                                    	<input id="tipoRiesgo"  class="form-control" readonly>
                                	</div>

                                	<div class="row">
	                                    <div style="margin: 10px; height: 40px; width: 50px; background-color: rgba(234, 77, 70, 0.7)"></div>
	                                    <div class="col-12 col-md-6" style="padding-top: 18px"> <h5>Muy alto (Mayor a 77%) </h5> </div>
                                	</div>

                                	<div class="row">
	                                    <div style="margin: 10px; height: 40px; width: 50px; background-color: rgba(232, 215, 75, 0.7)"></div>
	                                    <div class="col-12 col-md-6" style="padding-top: 18px"> <h5>Alto (67% - 77%)</h5> </div>
                                	</div>

                                	<div class="row">
	                                      <div style="margin: 10px; height: 40px; width: 50px; background-color: rgba(72, 118, 90, 0.7)"></div>
	                                    <div class="col-12 col-md-6" style="padding-top: 18px"> <h5>Medio (57% - 67%)</h5> </div>
                                	</div>

                                	<div class="row">
	                                     <div style="margin: 10px; height: 40px; width: 50px; background-color: rgba(22, 155, 220, 0.7)"></div>
	                                    <div class="col-12 col-md-6" style="padding-top: 18px"> <h5>Bajo (47% - 57%)</h5> </div>
                                	</div>

                                	<div class="row">
	                                   <div style="margin: 10px; height: 40px; width: 50px; background-color: rgba(22, 87, 205, 0.7)"></div>
	                                    <div class="col-12 col-md-6" style="padding-top: 18px"> <h5>Muy bajo (0% - 46%)</h5> </div>
	                                    
                                	</div>  
                                </div>
                            </div>
                            <hr>
                            <div class="row", id="ID_DIV">
                                <div class="col-12 col-md-6"> 
                                    <h3>Gráfico de barras</h3>
                                    <canvas id="bar-chart" height=300></canvas>
                                </div>
                                    <div class="col-12 col-md-6"> 
                                    <h3>Gráfico de araña</h3>
                                <canvas id="radar-chart" height=300></canvas>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-info" onclick="download();">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
       
        <script type="text/javascript">
            $(document).ready(function () {
               

                
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

            $("a[href$='/grafico']") .addClass("active");


            });
        </script>
        <script src="/scripts/script.js"></script>

		 <script type="text/javascript">
            graficoAranna(graficoC,"doughnut");
        </script>
        <script type="text/javascript">
            graficoAranna(graficoB,"bar");
        </script>
        <script type="text/javascript">
            graficoAranna(graficoA,"radar");
        </script>
        <script type="text/javascript">
            function download(){
            html2canvas($("#ID_DIV"), {
                onrendered: function(canvas) {
                    var doc = new jsPDF('p', 'mm');
                    doc.addImage(canvas, 'PNG', 10, 10, 190, 190);
                    doc.save('sample-file.pdf');
                }
            });}
        </script>

        <script type="text/javascript">
            function mostrarAyuda(){
                var riesgo = document.getElementById("tipoRiesgo").value;
                console.log(riesgo);
                if(riesgo == "Muy Alto"){
                    mostrarAyudaRiesgo(1);
                }
                if(riesgo == "Alto"){
                    mostrarAyudaRiesgo(2);
                }
                if(riesgo == "Intermedio"){
                    mostrarAyudaRiesgo(3);
                }
                if(riesgo == "Bajo"){
                    mostrarAyudaRiesgo(4);
                }
                if(riesgo == "Muy Bajo"){
                    mostrarAyudaRiesgo(5);
                }
            }
        </script>
        <script type="text/javascript">

            var ayudasRiesgo = {};
            function mostrarAyudaRiesgo(idRiesgo)
            {
                if(ayudasRiesgo[idRiesgo] != undefined)
                {
                    console.log(idRiesgo),
                    Swal.fire(
                    {
                        title: '',
                        icon: 'info',
                        text: ayudasRiesgo[idRiesgo],
                        confirmButtonColor: '#1D2D51'
                    }); //end sweetAyuda
                } //end if
                else
                {
                    console.log(idRiesgo),
                    Swal.fire(
                    {
                        title: "Cargando...",
                        allowOutsideClick: () => !Swal.isLoading(),
                        onBeforeOpen: ()=>
                        {
                            $.get(`/getAyudaRiesgo/${idRiesgo}`,{},function(data){})
                            .done(function(ayuda){
                                console.log(ayuda);
                                ayudasRiesgo[idRiesgo] = ayuda.ayuda;
                                Swal.fire(
                                {
                                    title: ayuda.error ? 'Error' : '',
                                    icon: ayuda.error ? 'error' : 'info',
                                    html: ayuda.error ? 'Ocurrió un error al conseguir la información' : `${ayuda.ayuda}`,
                                    confirmButtonColor: '#1D2D51'
                                }); //end sweetAyuda
                            })
                            
                            
                        } //end onBeforeOpen
                    }); //end sweetLoading
                } //end else
            }
            
        </script>
         <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </body>
</html>
