<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>

    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-leaf"></i>
                                <span></span>
                            </button>
                            
                        </div>

                        <div style="float: right;">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <form action="/logout">
                                    <button type="submit" class="btn btn-info navbar-btn">Cerrar Sesión</button>
                                </form>
                            </div>       
                        </div>

                    </div>
                    <div>
                        <h3>Estudios/Gráficos</h3>
                        <% if(usuario.Tipo == 1){%>
                        <% include ../partials/filtroCantonDistProvAsada %>
                        <%}else{%>
                            <input id="asada" type="text" value="<%=usuario.Asada_ID%>" disabled hidden>
                        <%}%>
                        <div>
                            <label for="riesgo">IRSSAS Total</label>
                            <br>
                            <input id="riesgo" type="number" disabled>
                            <br>
                            <br>
                            <label for="tipoRiesgo">Nivel de riesgo <i class="glyphicon glyphicon-question-sign risk-help"  onclick = mostrarAyuda() ></i></label>
                            <p style="color: black;" id="tipoRiesgo"></p>
                        </div>
                        <div>
                            <label for="tipoGrafico">Tipo de gráfico</label>
                            <select id="tipoGrafico" onchange="cambiarGrafico()">
                                <option value="bar">Barras</option>
                                <option value="radar">Araña</option>
                            </select>
                        </div>
                        <div id="ID_DIV">
                            <canvas id="radar-chart"></canvas>
                        </div>
                        <br>
                        <button onclick="download();">Download</button>
                    </div>
                </nav>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
               

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });


            });
        </script>
        <script src="scripts/script.js"></script>
        <script type="text/javascript">
            graficoAranna();
        </script>
        <script type="text/javascript">
            function download(){
            html2canvas($("#radar-chart"), {
                onrendered: function(canvas) {
                    var doc = new jsPDF('p', 'mm');
                    doc.addImage(canvas, 'PNG', 10, 10, 190, 190);
                    doc.save('sample-file.pdf');
                }
            });}
        </script>

        <script type="text/javascript">
            function mostrarAyuda(){
                var riesgo = document.getElementById("tipoRiesgo").innerHTML
                console.log(riesgo);
                if(riesgo == "Muy Alto"){
                    mostrarAyudaRiesgo(1);
                }
                if(riesgo == "Alto"){
                    mostrarAyudaRiesgo(2);
                }
                if(riesgo == "Intermedio"){
                    mostrarAyudaRiesgo(3);
                }
                if(riesgo == "Bajo"){
                    mostrarAyudaRiesgo(4);
                }
                if(riesgo == "Muy Bajo"){
                    mostrarAyudaRiesgo(5);
                }
            }
        </script>
        <script type="text/javascript">

            var ayudasRiesgo = {};
            function mostrarAyudaRiesgo(idRiesgo)
            {
                if(ayudasRiesgo[idRiesgo] != undefined)
                {
                    console.log(idRiesgo),
                    Swal.fire(
                    {
                        title: '',
                        icon: 'info',
                        text: ayudasRiesgo[idRiesgo],
                        confirmButtonColor: '#1D2D51'
                    }); //end sweetAyuda
                } //end if
                else
                {
                    console.log(idRiesgo),
                    Swal.fire(
                    {
                        title: "Cargando...",
                        allowOutsideClick: () => !Swal.isLoading(),
                        onBeforeOpen: ()=>
                        {
                            $.get(`/getAyudaRiesgo/${idRiesgo}`,{},function(data){})
                            .done(function(ayuda){
                                console.log(ayuda);
                                ayudasRiesgo[idRiesgo] = ayuda.ayuda;
                                Swal.fire(
                                {
                                    title: ayuda.error ? 'Error' : '',
                                    icon: ayuda.error ? 'error' : 'info',
                                    html: ayuda.error ? 'Ocurrió un error al conseguir la información' : `${ayuda.ayuda}`,
                                    confirmButtonColor: '#1D2D51'
                                }); //end sweetAyuda
                            })
                            
                            
                        } //end onBeforeOpen
                    }); //end sweetLoading
                } //end else
            }
            
        </script>
         <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </body>
</html>
