<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>
    <% include ../partials/horizontalMenu %>

    <div class="p-3">

        <div class="p-3 bg-light">
            <div class="container-fluid">

            <p style="color: #f00;"><%= error%></p>
            <div class="bg-white shadow p-3 mb-5">
                <div class="bg-white shadow p-3 mb-5">
                    <p id="mycomponent">índice de Riesgo Sostenible en el Servicio de Agua y Saneamiento</p>
                <img onclick="location.href='/mapa'" src="/images/IRSSAS-DEF.png" style="width: 100%;">
                </div>
                
                <% include ../partials/informacionProyecto.ejs %>
            </div>
            
        </div>
        </div>
    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
     <script  src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script type="text/javascript">
        $(document).ready(function () {
   
            
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
                $("#buttonrisk").show();
            });

            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
                $("#buttonrisk").hide();
            });

            $("#buttonrisk").hide();

            $("#filts").click(function () {
                $("#menucomps").toggle("slow", "linear");
                $("#menufilts").toggle("slow", "linear");
            });

            $("#filts2").click(function () {
                $("#menucomps").toggle("slow", "linear");
                $("#menufilts").toggle("slow", "linear");
            });

            

            $("#menufilts").hide();


        });
    </script>
    <script src="scripts/ol.js"></script>
    <script src="scripts/map.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>