<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar Holder -->
        <% include ../partials/lateral %>
        <!-- Page Content Holder -->
        <div id="page-content-wrapper" style="background-color: #FAFAFA;">

            <div class="container-fluid" style = "position: relative;">
                

                    <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>

                

                    <div class="bg-white shadow p-3 mb-5">
                        <button id="export-png" class="btn btn-primary"><i class="fa fa-download"></i> Descargar PNG</button>
                        <a id="image-download" download="map.png"></a>
                        <p id="mycomponent">índice de Riesgo Sostenible en el Servicio de Agua y Saneamiento</p>


                        <div id="map">
                        </div>
                        <div id="popup" class="ol-popup">
                            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                            <div id="popup-content"></div>
                        </div>
                <% include ../partials/riesgo %>
                    </div>
                    <div id="img-map-tec" hidden>
                        <img id="map-png" style="opacity: 0.3;">
                    </div>
            
            </div>


        </div>
    </div>

      <!-- Sweetalert -->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>  
    <script type="text/javascript">

        $(document).ready(function () {


            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
                $("#buttonrisk").show();
            });

            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
                $("#buttonrisk").hide();
            });

            $("#buttonrisk").hide();

            $("#filts").click(function () {
                $("#menucomps").toggle("slow", "linear");
                $("#menufilts").toggle("slow", "linear");
            });

            $("#filts2").click(function () {
                $("#menucomps").toggle("slow", "linear");
                $("#menufilts").toggle("slow", "linear");
            });
            
            $("#menufilts").hide();
            
            $('.risk-help').click(evt=>{
                evt.stopPropagation();
                console.log(evt.target);
                var id = evt.target.getAttribute("data-id");
                console.log(`id on click: ${id}`);
                if(id){
                    mostrarAyudaRiesgo(id);
                }
            });

            $("a[href$='/mapa']").addClass("active");

        });


    </script>
    
    <script src="http://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="scripts/dom-to-image.min.js"></script>
    <script src="scripts/ol.js"></script>
    <script src="scripts/map.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/getProvCantDist.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

</html>