<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <% include ../partials/latAdmin %>
        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span></span>
                        </button>
                    </div>

                    <div style="float: right;">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <form action="/logout">
                                <button type="submit" class="btn btn-info navbar-btn">Cerrar Sesión</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div style="margin: 20px;">
                    <div class="svg-d-flex svg-flex-column svg-h-100">
                        <div class="svg-d-flex svg-flex-column svg-flex-grow-1">
                            <!-- <div class="svg-h-100 svg-flex-grow-1" style="background-color: blue;">a</div> -->
                            <embed id="svg-content" class="svg-container svg-flex-grow-1" type="image/svg+xml"
                                src="rutas/data" />

                            <!-- <div style="float: right;" class="svg-flex-column svg-flex-grow-1;">
                                    a
                                </div> -->
                            <div class="svg-flex-grow-1" style="background: #303030;">
                                <div style="float: right">
                                    <div class="svg-d-flex">
                                        <button type="button" id="btn-zoom-in" class="btn btn-info navbar-btn btn-zoom"
                                            style="padding-left: 1px !important;">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span></span>
                                        </button>
                                        <button type="button" id="btn-zoom-out"
                                            class="btn btn-info navbar-btn btn-zoom">
                                            <i class="glyphicon glyphicon-minus"></i>
                                            <span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </nav>
        </div>
    </div>


    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });

            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

            $('#svg-content').height($(window).height() - 180);

            svgPanZoom('#svg-content', {
                zoomEnabled: true,
                controlIconsEnabled: true
            });

            $(window).resize(function () {
                $('#svg-content').height($(window).height() - 180);
            });

            $('#btn-zoom-in').click(() => {
                var panZoomTiger = svgPanZoom('#svg-content');
                panZoomTiger.zoomIn();
            });

            $('#btn-zoom-out').click(() => {
                var panZoomTiger = svgPanZoom('#svg-content');
                panZoomTiger.zoomOut();
            });

        });
    </script>
    <script src="scripts/script.js"></script>
    <script src="scripts/svg-pan-zoom.min.js"></script>
</body>

</html>