<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar Holder -->

        <!-- Page Content Holder -->
        <div id="page-content-wrapper" style="background-color: #FAFAFA;">
            <% include ../partials/horizontalMenu %>
            <div class="container-fluid">
                <h1 class="text-center title">Rutas Generales</h1>
                <div class="bg-white shadow p-3 mb-5 h-100">
                    <div class="svg-d-flex svg-flex-column svg-flex-grow-1">
                        <!-- <div class="svg-h-100 svg-flex-grow-1" style="background-color: blue;">a</div> -->
                        <embed id="svg-content" class="svg-container svg-flex-grow-1 w-100" type="image/svg+xml"
                            src="/rutas/data" />

                        <!-- <div style="float: right;" class="svg-flex-column svg-flex-grow-1;">
                            a
                        </div> -->
                        <div style="background: #303030;">
                            <div style="float: right; padding-top: 4px; padding-bottom:4px;">
                                <div class="svg-d-flex">
                                    <button type="button" id="btn-zoom-in" class="btn btn-info navbar-btn btn-zoom"
                                        style="padding-left: 1px !important;">
                                        <i class="fas fa-plus"></i>
                                        <span></span>
                                    </button>
                                    <button type="button" id="btn-zoom-out" class="btn btn-info navbar-btn btn-zoom">
                                        <i class="fas fa-minus"></i>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {

            $('#svg-content').height($(window).height() - 300);

            svgPanZoom('#svg-content', {
                zoomEnabled: true,
                controlIconsEnabled: true
            });

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

            $("#filts").click(function () {
                $("#menucomps").toggle("slow", "linear");
                $("#menufilts").toggle("slow", "linear");
            });

            $("#filts2").click(function () {
                $("#menucomps").toggle("slow", "linear");
                $("#menufilts").toggle("slow", "linear");
            });

            $("#menufilts").hide();
            $("#filts").hide();


            $(window).resize(function () {
                $('#svg-content').height($(window).height() - 300);
            });

            $('#btn-zoom-in').click(() => {
                var panZoomTiger = svgPanZoom('#svg-content');
                panZoomTiger.zoomIn();
            });

            $('#btn-zoom-out').click(() => {
                var panZoomTiger = svgPanZoom('#svg-content');
                panZoomTiger.zoomOut();
            });
            $("a[href$='/rutas']").addClass("active");
        });
    </script>
    <script src="scripts/ol.js"></script>
    <script src="scripts/map.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/svg-pan-zoom.min.js"></script>
</body>

</html>