<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar Holder -->
        <% include ../partials/lateral %>
        <!-- Page Content Holder -->
        <div id="page-content-wrapper" style="background-color: #FAFAFA;">
            <div style="margin: 20px;">
            <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
                
                    <div class="svg-d-flex svg-flex-column svg-flex-grow-1">
                        <!-- <div class="svg-h-100 svg-flex-grow-1" style="background-color: blue;">a</div> -->
                        <embed id="svg-content" class="svg-container svg-flex-grow-1" type="image/svg+xml"
                            src="/rutas/data" />

                        <!-- <div style="float: right;" class="svg-flex-column svg-flex-grow-1;">
                            a
                        </div> -->
                        <div  style="background: #303030;">
                            <div style="float: right">
                                <div class="svg-d-flex">
                                    <button type="button" id="btn-zoom-in" class="btn btn-info navbar-btn btn-zoom" style="padding-left: 1px !important;">
                                        <i class="fas fa-plus"></i>
                                        <span></span>
                                    </button>
                                    <button type="button" id="btn-zoom-out" class="btn btn-info navbar-btn btn-zoom">
                                        <i class="fas fa-minus"></i>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                
        </div>
        </div>
    </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#svg-content').height($(window).height()-160);

            svgPanZoom('#svg-content', {
                zoomEnabled: true,
                controlIconsEnabled: true
            });

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

            $("#filts").click(function () {
                $("#menucomps").toggle("slow", "linear");
                $("#menufilts").toggle("slow", "linear");
            });

            $("#filts2").click(function () {
                $("#menucomps").toggle("slow", "linear");
                $("#menufilts").toggle("slow", "linear");
            });

            $("#menufilts").hide();
            $("#filts").hide();


            $(window).resize(function() {
                $('#svg-content').height($(window).height()-160);
            });

            $('#btn-zoom-in').click(()=>{
                var panZoomTiger = svgPanZoom('#svg-content');
                panZoomTiger.zoomIn();
            });

            $('#btn-zoom-out').click(()=>{
                var panZoomTiger = svgPanZoom('#svg-content');
                panZoomTiger.zoomOut();
            });
            $("a[href$='/rutas']") .addClass("active");
        });
    </script>
    <script src="scripts/ol.js"></script>
    <script src="scripts/map.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/svg-pan-zoom.min.js"></script>
</body>

</html>