<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar" style="overflow-y: scroll">
            <div id="menucomps">
            <div class="sidebar-header">
                <h2 id="irss"><a href="/">Proyecto IRSSAS</a></h2>
            </div>
            </div>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                </div>
            </nav>
        </div>
</body>