<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar Holder -->
        <% include ../partials/latAdmin %>
        <!-- Page Content Holder -->

        <div id="page-content-wrapper" style="background-color: #FAFAFA;">
            <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
            <div class="container-fluid">
                <div class="row">
                    <% if(true){%>
                        <div class="col-12 col-md">
                            <p class="title mt-3 pb-2 font-weight-bold h3">Estadísticas</p>
                        </div>
                    <%}else{%>
                        <div class="col-12 col-md">
                            <p class="title mt-3 pb-2 font-weight-bold h3">Resultados</p>
                        </div>
                    <%}%>

                </div>
                <div class="bg-white shadow p-3 mb-5">
                    <div class="form-row">
                        <div class="form-group col-12 col-md">
                            <label> Provincia </label>
                            <select class="form-control" onchange="getCanton()" id="prov">
                                <option value="0">Sin filtro</option>
                                <%rows.forEach(function(row, index) {%>
                                <option value="<%= row.ID%>"><%= row.Nombre%></option>
                                <%});%>
                            </select>
                        </div>
                        <div class="form-group col-12 col-md">
                            <label> Canton </label>
                            <select class="form-control" onchange="getDistrito()" id="cant">
                                <option value="0">Sin filtro</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-md">
                            <label> Distrito </label>
                            <select class="form-control" id="dist">
                                <option value="0">Sin filtro</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-md">
                            <label> Orden </label>
                            <select class="form-control" id="ord">
                                <option value="ASC">Ascendente</option>
                                <option value="DESC">Descendente</option>
                            </select>
                        </div>
                        <div class="col-auto mt-md-4">
                            <button class="btn btn-lg btn-info" onclick="getEstadisticas()"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-md">
                            <p class="title mt-3 pb-2 font-weight-bold h3">Datos generales</p>
                            <p id="totalAsadas" style="color: black; font-family: Arial, Helvetica, sans-serif;"></p>
                            <p id="promedioIRSSAS" style="color: black; font-family: Arial, Helvetica, sans-serif;"></p>
                        </div>
                        <div class="form-group col-12 col-md">
                            <p class="title mt-3 pb-2 font-weight-bold h3">Promedios de riesgo</p>
                            <p id="promedioMuyAlto" style="color: black; font-family: Arial, Helvetica, sans-serif;"></p>
                            <p id="promedioAlto" style="color: black; font-family: Arial, Helvetica, sans-serif;"></p>
                            <p id="promedioMedio" style="color: black; font-family: Arial, Helvetica, sans-serif;"></p>
                            <p id="promedioBajo" style="color: black; font-family: Arial, Helvetica, sans-serif;"></p>
                            <p id="promedioMuyBajo" style="color: black; font-family: Arial, Helvetica, sans-serif;"></p>        
                        </div>      
                    </div>
                    
                            
                   <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Asada</th>
                                <th scope="col">Distrito</th>
                                <th scope="col">Canton</th>
                                <th scope="col">Provincia</th>
                                <th scope="col">IRSSAS</th>
                                <th scope="col">Detalles</th>
                            </tr>
                        </thead>
                        <tbody id="componenttable">
                        </tbody>
                    </table>
                </div></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });
            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });
            $("a[href$='/statsComponentes']").addClass("active");
        });
    </script>
    <script src="scripts/script.js"></script>
    <script src="scripts/getProvCantDist.js"></script>
</body>

</html>