<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar Holder -->
        <% include ../partials/latAdmin %>
        <!-- Page Content Holder -->

        <div id="page-content-wrapper" style="background-color: #FAFAFA;">
            <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md">
                        <p class="title mt-3 pb-2 font-weight-bold h3"><%=rows[0].Nombre%></p>
                    </div>
                </div>
                <div class="bg-white shadow p-3 mb-5">
                    <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Componente</th>
                                <th scope="col">Subcomponente</th>
                                <th scope="col">Riesgo</th>
                            </tr>
                        </thead>
                        <tbody id="componenttable">
                            <%rows.forEach(function(consulta, index) {%>
                            <tr>
                                <td><%=consulta.NombreComponente%></td>
                                <td><%=consulta.NombreSubComponente%></td>
                                <td><%=consulta.valor.toFixed(0)%></td>
                            </tr>
                            <%});%>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {


            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });
            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });
            $("a[href$='/statsComponentes']").addClass("active");

        });
    </script>
    <script src="scripts/crud.js"></script>
</body>

</html>